.container{
   margin: 1rem;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   border: 2px solid #4e65f7;
   padding: 1rem 2rem 1rem 2rem;
   box-shadow: rgba(40, 132, 218, 0.927) 0px 5px 10px;
}
.header{
   font-size: 2rem;
   text-align: center;
   margin-top: 3rem;
}
.post-link{
   text-decoration: none;
}
table {
   width: 100%;
   border-collapse: collapse;
   margin: 1rem;
}

th,
td {
   border: 2px solid #4e65f7;
   padding: 1rem;
   text-align: left;
}

th {
   background-color: #4e65f7;
}
.view-mode-toggle {
   position: fixed;
   top: 60px;
   right: 60px;
}

.view-mode-toggle button {
   padding: 10px;
   font-size: 16px;
   cursor: pointer;
   background-color: #4e65f7;
   color: #fff;
   border: none;
   border-radius: 4px;
   display: flex;
   align-items: center;
}

.view-mode-toggle button:hover {
   background-color: #0056b3;
}