.movie_list {
	padding: 4rem 0rem 1rem 0rem;
}

.title {
	font-size: 1.8rem;
	font-weight: 700;
	text-align: center;
	padding-bottom: 10px;
}

.list_title {
	font-size: 1.75rem;
	margin: 0.5rem;
}

.list_cards {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
}
