.header{
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
   background: linear-gradient(rgba(9, 17, 178, 0.838), rgba(171, 203, 245, 0.327))
}
.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 0.3125rem;
   padding-left: 0.3125rem;
   min-height: 5.5625rem;
}
.header__logo{
   font-size: 2rem;
}
.header__logo span{
   color: #fff;
   font-size: 3rem;
}
.header__item{
   font-size: 1.5rem;
   padding: 0 1.7rem;
   cursor: pointer;
   color: white;
}
.header__item:hover {
   color: rgba(9, 17, 178, 0.838);
}
.search {
   max-width: 280px;
   width: 100%;
}
.search-box {
   position: relative;
   height: 50px;
   width: 50px;
   margin: auto;
   border-radius: 25px;
   transition: all 0.8s ease;
}

 .active .search-box{
   width: 280px;
}
.input{
   position: absolute;
   height: 100%;
   width: 100%;
   background: #fff;
   outline: none;
   border: none;
   border-radius: 25px;
   padding: 0 20px 0 20px;
   font-size: 18px;
}
.input:focus{
   color: #3b04c8;
}
.icon{
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: absolute;
   right: 0;
   top: 0;
   width: 50px;
   background: #fff;
   height: 100%;
   line-height: 50px;
   font-size: 20px;
   border-radius: 25px;
}
.btn{
   position: absolute;
   width: 20px;
   height: 20px;
}

.results-list {
   position: absolute;
   top: 88%;
   width: 15%;
   background-color: white;
   display: flex;
   flex-direction: column;
   box-shadow: 0px 0px 15px #3b04c8;
   padding: 1rem;
   border-radius: 5px;
   max-height: 300px;
   overflow-y: auto;
}
.popup-content{
   padding: 0.45rem 0;
}
.popup-content:hover{
   color: rgba(9, 17, 178, 0.838);
}

@media(max-width:39.0625em) {
   .header__logo {
      flex: 0 0 2.0625rem;
   }

   .header__container {
      min-height: 4.375rem;

   }

   .header__body {
      column-gap: 1.25rem;
   }

   .header__btn {
      padding: 0.625rem 0.9375rem;
   }
}