.movie_list {
    padding: 7rem 1rem 7rem 1rem;
    overflow-y: scroll;
    height: 100vh;
    scrollbar-width:none;
}

.title {
	font-size: 1.8rem;
	font-weight: 700;
	text-align: center;
	padding-bottom: 10px;
}

.list_cards {
	display: grid;
	place-items: center;
	margin: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
}

