.movie__list {
    padding: 7rem 1rem 3rem 1rem;
}
.title{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}

.list__title {
font-size: 1.75rem;
margin:  0.5rem;
}

.list__cards {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}